MONGO_URI=mongodb://127.0.0.1:27017/community-connect
MONGO_URI=mongodb://mongo:27017/community-connect  #for docker
JWT_SECRET=supersecretcommunityconnect123
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
PORT=5000
EMAIL_USER=communityconnectpsg@gmail.com
EMAIL_PASS=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
MOCK_REGISTRY_URL=https://localhost:3000/mock-registry/public/index.html