types : trust, society, section 8 company

to register for ngo : Memorandum of Association (MOA), Articles of Association (AOA), identity(pan, aadhar) and address proof for members/directors, and proof of the registered office address. 

after registration , registration form is given.
in that reg number, reg date, ngo's pan, address, contact , legal entity type are stated.

to check if registered.  https://ngodarpan.gov.in/